# macOS
.DS_Store

# Xcode / Swift
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# CocoaPods
Pods/

# Swift Package Manager
.swiftpm/
.build/

# Firebase / secrets
GoogleService-Info.plist
**/GoogleService-Info.plist

# Node / Firebase Functions
functions/node_modules/
functions/lib/

